
.my_index_body{
    // height: calc(90% -50px);
    height: auto;
    position:absolute;
    z-index: 0;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; //有回弹效果
    background-color: #fff;
    padding-bottom: 50px;
    // transform: translateZ(50px);
}