
.my_index_body{
    height: auto;
    z-index: 0;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    overflow-y: scroll;
    position: absolute;
    top: 4.1rem;
    bottom: 4.1rem;
}